[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
pylint = "*"
flakes8 = "*"
yapf = "*"
makeupsafe = "*"

[requires]
python_version = "3.7"
